.event-page-activity-card-title {
  display: flex !important;
  justify-content: center !important;
}

.event-page-activity-card-expand {
  display: flex !important;
  justify-content: left !important;
  margin-top: 3%;
  min-width: 70%;
  max-width: 70%;
}

.sidebar {
  display: flex !important;
  justify-content: left !important;
  margin-top: 58px;
  /* padding-left: 50px; */
  translate: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #daa520;
  max-height: 100%;
  min-width: 20%;
  background-color: rgb(17, 17, 17, 0.5);
}

.sidebar-list {
  list-style-type: none;

  width: 100%;
}

.topbar {
  position: sticky;
  top: 20px;
  align-self: flex-start;
  z-index: 2;
  /* overflow: scroll; */
  /* display: flex !important;
  justify-content: center !important; */
  border-bottom-style: solid;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  transform: translateY(-20%);
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 3px;
  border-color: #daa520;
  min-height: 100px;
  margin-top: 20px;
  min-width: 100%;
  background-color: rgb(25, 25, 25, 1);
  /* background-color: #DAA520;  */
}

.event-card {
  display: flex !important;
  justify-content: center !important;
  margin-right: 20%;
  /* translate: -94px; */
  /* padding-top: 2%; */
  margin-top: 45px;
  max-height: 90%;
}

.event-card-mobile {
  display: flex !important;
  justify-content: center !important;
  min-width: 90%;
  max-width: 100%;
  background-color: "black";
}
