.event-page-activity-card-title {
  display: flex !important;
  justify-content: center !important;
}

.event-page-activity-card-expand {
  display: flex !important;
  justify-content: left !important;
  margin-top: 3%;
  min-width: 70%;
  max-width: 70%;
}

.sidebar {
  display: flex !important;
  position: sticky;
  top: 5%;
  justify-content: left !important;
  margin-top: 58px;
  /* padding-left: 50px; */
  translate: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #daa520;
  max-height: 100%;
  width: 115px;
  background-color: rgb(17, 17, 17, 0.5);
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    translate: 40px;
  }
}
@media only screen and (max-width: 1000px) {
  .sidebar {
    translate: 30px;
  }
}
@media only screen and (max-width: 800px) {
  .sidebar {
    translate: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .sidebar {
    translate: 10px;
  }
}

.sidebar-list {
  list-style-type: none;

  width: 100%;
}

.topbar {
  position: sticky;
  top: 20px;
  align-self: flex-start;
  z-index: 2;
  /* overflow: scroll; */
  /* display: flex !important;
  justify-content: center !important; */
  border-bottom-style: solid;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  transform: translateY(-20%);
  /* transform: translateX(2%); */
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 3px;
  border-color: #daa520;
  min-height: 100px;
  margin-top: 20px;
  min-width: 100%;
  max-width: 98%;
  background-color: rgb(25, 25, 25, 1);
  /* background-color: #DAA520;  */
}

.event-card {
  display: flex !important;
  justify-content: center !important;
  /* margin-right: 20%; */
  /* translate: -94px; */
  /* padding-top: 2%; */
  margin-top: 45px;
  max-height: 90%;
}

.event-card-mobile {
  display: flex !important;
  justify-content: center !important;
  min-width: 100%;
  max-width: 750px;
  /* background-color: "black"; */
  /* transform: translateX(-3%); */
}

.event-page-card {
  display: flex !important;
  justify-content: center !important;
  min-width: 100%;
  margin-bottom: 2%;
  /* background-color: rgb(22, 22, 22, 0.4);
   */
}

.display-events-category-box {
  /* display: flex !important; */
  justify-content: center !important;
  width: 80%;
  margin-top: 50px;
}
@media only screen and (max-width: 1200px) {
  .display-events-category-box {
    margin-left: 5%;
    /* width: 70%; */
  }
}

@media only screen and (max-width: 1000px) {
  .display-events-category-box {
    /* width: 65%; */
    margin-left: 10%;
  }
}

.display-events-category-box-mobile {
  justify-content: center !important;
  width: 100%;
  margin-top: 10px;
}

.my-events-page-category-title-box {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 2%;
  border-bottom-style: solid;
  /* border-bottom: 1px; */
  border-bottom-color: #daa520;
  /* z-index: 2; */
}

.menu-item {
  width: 100%;
}

.menu-item:hover {
  width: 100%;
  background-color: #a67e18;
  border-radius: 25px;
}

.social-media-inner-box {
  width: 30%;
  /* border: solid; */
}

.social-media-box-overlay {
  display: inline;
  border: solid;
  border-color: aqua;
}

.social-media-inner-box:hover + .social-media-box-overlay {
  /* display: none; */
  border-color: aqua;
}

.map-container {
  /* display: flex;
  justify-content: center; */
  min-width: 100%;
  height: 400px;
  margin-top: 2%;
  border-style: solid;
  border-color: #daa520;
}

.combobox-container {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 60px;
  z-index: 2;
}
.combobox {
  width: 100%;
  height: 60px;
}

.combobox-input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #212529;
  color: white;
  height: 56px;
  border-style: solid;
  border-width: 0.7px;
  border-color: #7e8083;
  border-radius: 5px;
}

.combobox-input {
  display: flex;
  width: 100%;
  background-color: #212529;
  color: white;
  height: 100%;
  border-style: none;
  border-width: 1px;
  border-color: red;
  border-radius: 5px;
  padding-left: 13px;
}

.combobox-input:focus {
  border-style: solid;
  border-width: 0.7px;
  border-color: #daa520;
  border-radius: 5px;
}

.combobox-popover {
  border-style: dashed;
}

.combobox-popover:focus {
  border-style: solid;
  border-width: 0.7px;
  border-color: #daa520;
  border-radius: 5px;
}

.combobox-option:hover {
  color: black;
}

.combobox-option::selection {
  color: black;
}
