body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background: rgb(172, 169, 169);
  /* padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-right: 10%; */
}

.MuiFormHelperText-root {
  color: red !important;
}

.create_event_links {
  color: white;
}
.create_event_links:hover {
  color: #daa520;
}

.root-container {
  background-image: url("https://mcdn.wallpapersafari.com/medium/64/0/xRuLyD.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #eee;
  min-height: 100%;
  min-width: 250px;
  /* max-width: 100%; */
  max-width: 750px;
}

.wrapper {
  animation: scroll 125s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  color: #eee;
  min-height: 100%;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}
